:root {
  --m-color: #333333;
  --s-color: #2948ff;
  --w-color: #fff;
  --p-color: #666666;
  --b-color: #36383d;
  --black-color: #000;
  --w-b-color: #fff;
  --bgw-bgb-color: #fff;
  --font-stl-one: #333333;
  --font-stl-two: #fff;
  --font-stl-three: #141618;
  --blue-to-white: #2948ff;
  --brd-color: rgba(229, 229, 229, 1);
  --abt-bg-color: #fafafa;
}

[data-light-mode="dark"] {
  --bgw-bgb-color: #141618;
  --font-stl-one: #c2c5c7;
  --font-stl-two: #c2c5c7;
  --font-stl-three: #c2c5c7;
  --blue-to-white: #c2c5c7;
  --brd-color: rgba(60, 60, 60, 1);
  --abt-bg-color: #141618;
}

body::-moz-scrollbar {
  width: 0.5rem;
  background: var(--w-color);
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--w-color);
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--w-color);
}

body::-moz-scrollbar-track {
  border-radius: 10px;
  background: var(--w-color);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--s-color);
}

body::-moz-scrollbar-thumb {
  border-radius: 10px;
  background: var(--s-color);
}

/* css reset */
html {
  line-height: 1.15;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: var(--black-color);
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  background: var(--bgw-bgb-color);
}

a,
button {
  font-size: 0.875rem;
  color: var(--s-color);
  text-decoration: none;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

button:hover,
button:active,
button:focus,
a:hover,
a:active,
a:focus {
  color: var(--s-color);
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-stl-one);
  margin-top: 0;
  text-transform: capitalize;
}

.section {
  padding: 7.5rem 0px 7.5rem;
  position: relative;
  z-index: 0;
}

h2 {
  margin-bottom: 15px;
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
  margin-bottom: 15px;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
  line-height: 28px;
  color: var(--p-color);
}

/*all button*/
.btn {
  font-size: 14px;
  font-weight: 600;
  padding: 14px 32px;
  border-radius: 100px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn span {
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}

.btn.stl-one {
  background: var(--s-color);
  color: var(--w-color);
}

.btn.stl-one:hover {
  background: var(--b-color);
  color: var(--w-color);
}

.btn.stl-three {
  border: 0.01rem solid var(--w-color);
  background: none;
  color: var(--w-color);
}

.btn.stl-three:hover {
  background: var(--s-color);
  color: var(--w-color);
  border-color: var(--s-color);
}

/*all button*/
.bg {
  background: var(--abt-bg-color);
}

ul.social li {
  display: inline-block;
  padding: 5px 5px;
}

ul.social li svg {
  width: 16px;
  fill: #fff;
}

ul.social.footer a {
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  border: 1px solid rgba(240, 240, 240, 0.7) !important;
}

ul.social.footer a svg {
  width: 14px;
  fill: rgba(240, 240, 240, 0.7) !important;
}

ul.social.footer a:hover {
  background: var(--m-color);
  border-color: var(--m-color) !important;
}

ul.social.footer a:hover svg {
  fill: #fff !important;
}

/* css reset */
/* header */
.toggle {
  width: 28px;
  height: 24px;
  position: relative;
}

.toggle span {
  display: block;
  width: 100%;
  height: 1px;
  background: var(--font-stl-two);
}

.toggle span:after, .toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--font-stl-two);
}

.toggle span:after {
  top: 0px;
}

.toggle span:before {
  bottom: 0px;
}

.toggle.toggleOpen {
  margin: 15px 10px;
}

.toggle.toggleClose span {
  background: none;
}

.toggle.toggleClose span:after {
  top: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggle.toggleClose span:before {
  bottom: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn-dark-light svg {
  width: 25px;
  fill: #fff;
}

.logo svg {
  height: auto;
  max-width: 150px;
  width: 100%;
  fill: #fff;
}

.header {
  position: absolute;
  left: 0px;
  right: 0;
  top: 0px;
  z-index: 999;
}

ul.menu {
  position: relative;
}

ul.menu li {
  position: relative;
}

ul.menu li > a {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  padding: 10px 10px;
  letter-spacing: 1px;
}

ul.menu .sub-menu > li > a {
  text-transform: capitalize;
}

.fixed {
  position: fixed;
  background-color: var(--bgw-bgb-color);
  -webkit-box-shadow: 0 0 transparent, 0 0 transparent, 0 5px 5px -4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 transparent, 0 0 transparent, 0 5px 5px -4px rgba(0, 0, 0, 0.1);
}

.fixed .toggle span {
  background: var(--font-stl-three);
}

.fixed .toggle span:after, .fixed .toggle span:before {
  background: var(--font-stl-three);
}

.fixed .logo svg {
  fill: var(--font-stl-three);
}

.fixed .btn-dark-light svg {
  fill: var(--font-stl-three);
}

.fixed ul.social li svg {
  fill: var(--font-stl-three);
}

@media (min-width: 1025px) {
  .menu-arrow {
    display: none;
  }
  .toggle {
    display: none !important;
  }
  .header .head-left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header .head-center {
    margin: 0 auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header .head-right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .menu-container {
    padding: 10px 0px;
  }
  ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  ul.menu > li {
    padding: 0px 10px;
  }
  ul.menu .sub-menu {
    position: absolute;
    top: 100%;
    padding: 40px 0px;
    min-width: 250px;
    background: rgba(19, 20, 22, 0.9);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.35);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.35);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  ul.menu .sub-menu li {
    padding: 0px 40px;
    display: block;
  }
  ul.menu .sub-menu li a {
    position: relative;
    padding: 0px 0px;
    font-weight: 400;
    overflow: hidden;
    display: inline-block;
  }
  ul.menu .sub-menu li a:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(0% - 1px);
    height: 2px;
    background-color: var(--s-color);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  ul.menu .sub-menu li a:hover {
    color: #fff;
  }
  ul.menu .sub-menu li a:hover:after {
    width: calc(100% + 1px);
  }
  ul.menu .sub-menu li:hover > a {
    color: #fff;
  }
  ul.menu .sub-menu li:hover > a:after {
    width: calc(100% + 1px);
  }
  ul.menu > li > .sub-menu {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  ul.menu > li > .sub-menu li .sub-menu {
    right: -100%;
    top: 50%;
    -webkit-transform: translate(20px, -50%);
            transform: translate(20px, -50%);
  }
  ul.menu > li:hover > .sub-menu {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
  ul.menu > li > .sub-menu li:hover > .sub-menu {
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    opacity: 1;
    visibility: visible;
  }
  ul.menu > li > a {
    color: #fff;
  }
  ul.menu .sub-menu li a {
    color: rgba(240, 240, 240, 0.7);
  }
  .fixed ul.menu > li > a {
    color: var(--font-stl-three);
  }
}

@media (max-width: 1024px) {
  .menu-arrow {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 8px 10px;
    margin-left: auto;
  }
  .menu-arrow svg {
    fill: #fff;
    width: 20px;
  }
  .menu-arrow.open {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  ul.menu > li > a {
    color: #fff;
  }
  ul.menu ul.sub-menu {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: none;
  }
  ul.menu ul.sub-menu > li {
    padding-left: 10px;
  }
  ul.menu ul.sub-menu > li a {
    color: #fff;
  }
  ul.menu ul.sub-menu.showMega {
    display: block;
  }
  ul.menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  ul.menu ul.sub-menu {
    width: 100%;
  }
  .header .head-right {
    margin-left: auto;
  }
  .header .head-center {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background: rgba(0, 0, 0, 0.99);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .head-center.show {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header .head-center .menu-container {
    height: 100vh;
    overflow: auto;
  }
}

@media (max-width: 767px) {
  .logo svg {
    max-width: 120px;
  }
  .toggle.toggleOpen {
    margin-right: 0;
  }
}

/* header */
/* footer */
footer {
  padding: 80px 0px 0px;
  background-color: #141618;
}

footer .foo-logo {
  margin-bottom: 15px;
}

footer .foo-logo svg {
  width: 175px;
  fill: var(--font-stl-two);
}

footer .widget .widget-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--font-stl-two);
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer .widget.about p {
  font-size: 14px;
  color: rgba(240, 240, 240, 0.7) !important;
}

footer ul.foo.nav {
  margin-bottom: 20px;
}

footer ul.foo li {
  padding-left: 0px;
  display: block;
  width: 100%;
}

footer ul.foo li a {
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(240, 240, 240, 0.7) !important;
  padding-left: 15px;
  position: relative;
}

footer ul.foo li a:before {
  content: "\eaca";
  position: absolute;
  left: -3px;
  top: -5px;
  font-size: 12px;
  font-family: IcoFont;
  font-weight: 400;
  color: rgba(240, 240, 240, 0.7) !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer ul.foo li a:hover {
  color: var(--w-color) !important;
}

footer ul.foo li a:hover:before {
  color: var(--w-color) !important;
  left: 0px;
}

footer .news-letter .form-group {
  position: relative;
}

footer .news-letter .form-group input[type="email"] {
  padding: 10px 103px 10px 16px;
  height: auto;
  background: var(--font-stl-two);
}

footer .news-letter .form-group .btn {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 10px 18px;
}

footer .fo-bottom {
  padding: 20px 0px;
  border-top: 1px solid;
}

footer .fo-bottom p {
  margin-bottom: 0px;
  font-size: 14px;
  color: rgba(240, 240, 240, 0.7) !important;
}

footer .fo-bottom p a {
  font-size: 14px;
  color: rgba(240, 240, 240, 0.7) !important;
}

footer .fo-bottom ul.f-link li {
  padding: 0px 10px;
}

footer .fo-bottom ul.f-link li a {
  color: rgba(240, 240, 240, 0.7) !important;
  font-size: 14px;
}

/* footer */
/* all title */
.sec-title {
  padding-bottom: 30px;
  position: relative;
}

.sec-title h2 {
  font-size: 4.12rem;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.05em;
  position: relative;
  margin-bottom: 20px;
}

.sec-title h2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  width: 120px;
  height: 1px;
  background: var(--m-color);
  margin: auto;
}

.sec-title p {
  font-size: 18px;
  line-height: 32px;
  color: var(--font-stl-one);
}

.sec-title p strong {
  font-weight: 700;
}

.sec-title.wt p,
.sec-title.wt h2 {
  color: #fff;
}

.sec-title.wt p:after,
.sec-title.wt h2:after {
  background: var(--w-b-color);
}

.sub-title h2 {
  font-size: 3.75rem;
  font-weight: 800;
}

.sub-title h4 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 25px;
}

/* all title */
/*services-single-box*/
.srvs-single-box {
  margin: 40px 0px;
}

.srvs-single-box .icon-box svg {
  width: 64px;
  height: 64px;
  fill: var(--s-color);
}

.srvs-single-box .ctn-box p {
  font-size: 14px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.srvs-single-box .ctn-box .readmore {
  display: inline-block;
}

.srvs-single-box .ctn-box .readmore span {
  position: relative;
  width: 18px;
  height: 2px;
  display: inline-block;
  background: #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.srvs-single-box .ctn-box .readmore span:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  right: 0;
  background: #000;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.srvs-single-box.stl-one {
  text-align: center;
}

.srvs-single-box.stl-one .icon-box {
  margin-bottom: 15px;
}

.srvs-single-box.stl-two .icon-box {
  margin-bottom: 15px;
}

.srvs-single-box.showMore .ctn-box .readmore span:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.srvs-single-box:not(.showMore) p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*services-single-box*/
/*# sourceMappingURL=style.css.map */